.bg-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  opacity: 0.8;
  background-color: #000;
}
.bg-white {
  background-color: #fff !important;
}

.logo {
  background-image: url(../../../../assets/logo-dark.png);
  height: 50px;
  width: 100%;
  background-repeat: no-repeat;
  display: block;
  background-position: center;
  margin-bottom: 20px;
}
