* {
  box-sizing: border-box;
}
body {
  /* font-family: "Lato", sans-serif; */
  font-size: 0.9rem;
  color: #495057;
}
@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1140px !important;
  }
}
.parent {
  background-image: url(./assets/auth-bg.jpg);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.height-100 {
  height: 100vh;
}
/* .d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
} */
.z-index {
  position: relative;
  z-index: 1;
}
.h5 {
  font-family: Roboto, sans-serif;
}
